:root {
  --siteFont: Arial, Helvetica, sans-serif;
  --accentColour: rgba(247, 127, 0);

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

#myName {
  /* background-color: rgba(247, 127, 0); */
  padding: 10px 20px 10px 160px;
  position:relative;
  right: 40px;
}

h1 {
  color: rgba(0, 0, 0);
  font-size: 42px;
  font-family: var(--siteFont);
}

#header {
  display: flex;
  flex-direction: row;
  padding: 25px;
  background-image: url(../images/vecteezy_abstract-orange-and-black-grunge-texture-background_.jpg);
  background-position: left 25%;
  margin-bottom: 50px;
}

#navBar {
  position: relative;
  left: 500px;
}

ul {
  display: inline-flex;
  list-style-type: none;
}

li { 
  margin-right: 30px;
  font-size: 25px;
  color: white;
  padding-top: 5px;
}

/* .hero-banner {
  background-color: black;
  padding: 80px;

} */

.page-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#about {

}

#work{ 
  min-height: 60vh;
  /* height: 60vh; */
}

#contact {

}


.page-section {
  margin: 10px;
  display: flex;
  min-width: 50vw;
  min-height: 20vh;

}

.section-header {
  width: 30%;
  margin: 0px 25px 0px 0px;
  border-right: 2px solid;
  text-align: right;

}

.section-header h2 {
  position: relative;
  left: -5%;
  font-size: 35px;
  padding: 0;
  font-family: var(--siteFont);
  
}

.section-content {
  /* border: 5px solid; */
  width: 70%;
  margin: 0px 100px 0px 25px;
}

#work-row-1,
#work-row-2,
#work-row-3 {
  display: flex;
  height: 300px;
  width: 700px;
}

.flex-items-1 {
  flex: 1;
  border: 2px;
  margin: 20px 10px 0px 10px;
}

.flex-items-2 {
  flex: 2;
  border: 2px;
  margin: 0px 20px 20px 0px;

}

#work-row-1 img {
  width: 100%;
  height: 100%;
  border: solid 5px var(--accentColour);
  margin: 10px;

}

#work-row-2 img,
#work-row-3 img {
  width: 100%;
  height: 100%;
  border: solid 5px var(--accentColour);
  margin: 20px;
  /* padding: 10px; */

}


