:root {
  --siteFont: Arial, Helvetica, sans-serif;
  --accentColour: rgba(247, 127, 0);
  --mainColour: #497174;
  --fontColour: #D6E4E5;

}

/* Project Images */

/* portfolio project images */

#project-1 {
  background-image: url("../images/02-portfolio-1.jpg");
  background-size:cover;
}

#project-2 {
  background-image: url("../images/02-portfolio-2.jpg");
  background-size:cover;

}

#project-3 {
  background-image: url("../images/02-portfolio-3.jpg");
  background-size:cover;

}

#project-4 {
  background-image: url("../images/02-portfolio-4.jpg");
  background-size:cover;

}

#project-5 {
  background-image: url("../images/02-run-buddy.jpg");
  background-size:cover;

}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #EFF5F5;
  min-height: 80vh;
  min-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 auto;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
  background-position: left 25%;
  margin-bottom: 50px;
  background-color: var(--mainColour);
  align-items: center;

}

h1 {
  font-size: 42px;
  font-family: var(--siteFont);
  color: var(--fontColour);
  padding: 5px 0px 5px 0px;

}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--fontColour);
  margin-right: 10px;
  font-size: 25px;
  color: var(--fontColour);
}

nav a:hover {
  color: var(--accentColour);

}

a {
  text-decoration: none;
}

.page-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  /* border: #497174 solid; */
}

.page-section {
  margin: 10px;
  display: flex;
  max-width: 100%;
  /* border: #497174 solid; */
}

.section-header {
  width: 30%;
  margin: 0px 25px 0px 0px;
  border-right: 2px solid;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  max-width: 20%;

}

.section-header h2 {
  position: relative;
  left: -5%;
  font-size: 35px;
  padding: 0;
  font-family: var(--siteFont);  
  color: var(--mainColour);
}

.section-content {
  /* border: 5px solid red; */
  width: 70%;
  margin: 0px 0px 0px 0px;
  max-width: 90%;
  
}

#work-row-1 div,
#work-row-2 div,
#work-row-3 div {
    padding: 5px 5px;
    margin-left: 5px;
    /* border: 5px solid var(--mainColour); */
}

#work-row-1 h3,
#work-row-2 h3,
#work-row-3 h3 {
  background-color: var(--mainColour);
  color: var(--fontColour);
  padding: 8px 10px;
  /* border: 2px solid red; */
  position: relative;
  right: 20px;
  width: 50%;
  box-shadow: 5px 5px var(--accentColour);
}


#work-row-1,
#work-row-2,
#work-row-3 {
  display: flex;
  height: 300px;
  width: 900px;
}

.flex-items-1 {
  flex: 1;
  border: 2px;
  margin: 20px 10px 20px 0px;
}

.flex-items-2 {
  flex: 2;
  border: 2px;
  margin: 0px 20px 20px -10px;

}

#work-row-1 img {
  width: 100%;
  height: 100%;
  border: solid 5px var(--mainColour);
  margin: 10px;

}

#work-row-2 img,
#work-row-3 img {
  width: 100%;
  height: 100%;
  border: solid 5px var(--mainColour);
  margin: 20px;
  /* padding: 10px; */

}


#contact-content {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}

#contact-content a:hover {
  color: var(--accentColour);
}

#contact-content a {
  color: var(--mainColour);
}


#header img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
}





/* different screen size adjustments */
@media only screen and (max-width: 1024px) {

  #work-row-1,
  #work-row-2,
  #work-row-3 {
    display:inline-block;
    height: 25%;
    width: 100%;
  }

}






@media only screen and (max-width: 769px) {


  .page-wrapper {
    max-width: 100%;
  }

  .page-section {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:flex-start;
  
  }

  .section-header {
    /* width: 100%; */
    margin: 0 auto;
    border: none;
    justify-content: center;
    
  
  }
  
  .section-header h2 {
    font-size: 35px;
    /* align-items: center; */
    font-family: var(--siteFont);  
    color: var(--mainColour);
    text-decoration: underline;
 
  }

#contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: 70px;
  font-size: 25px;
}

.section-content {
  /* border: 5px solid; */
  width: 760px;
  margin: 0px 10px 10px 10px;
  
}

#work-row-1,
#work-row-2,
#work-row-3 {
  display:inline-block;
  height: 50%;
  width: 100%;
}

}